.phather {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.childrenLi{
    display: flex;
    border: 2px solid black;
    width: 90px;
    border-radius: 9px;
    justify-content: center;
    padding: 15px 10px;
}